<div class="page page-extra-tall">
    <!-- Header simplificado -->
    <div class="header">
        <div class="header-top">
            <h2>Inspección general <span>de vehículos</span></h2>
            <img src="static/images/logo_wcar.svg" alt="Logo WCAR" />
        </div>
    </div>

    <!-- Content -->
    <div class="content-container">
        <div class="main-data-section">
            <div class="main-data-icon-container">
                <div class="main-data-icon">2</div>
                <h3 class="main-data-title">Exterior del vehículo</h3>
            </div>
            <div class="main-data-content">
                <p class="main-data-text">
                    Por medio del presente documento, confirmamos que estamos inspeccionando el vehículo a continuación relacionado:
                </p>
            </div>
        </div>

        <!-- Lado izquierdo -->
        <div class="vehicle-inspection-table">
            <div class="vehicle-inspection-header">
                <h3>Lado <span>Izquierdo</span></h3>
            </div>
            <div class="vehicle-inspection-body">
                <!-- Lado izquierdo: Imagen -->
                <div class="vehicle-image-section">
                    <div class="vehicle-image-container">
                        <img src="https://storage.googleapis.com/course-gcp-2024-images/2025/10/05/304d3da8-e779-470f-88fe-4f7896a8f83e.png" alt="Vehículo Lado Izquierdo" />
                    </div>
                </div>

                <!-- Lado derecho: Tabla de daños y presupuesto -->
                <div class="vehicle-details-section">
                    <div class="damage-grid">
                        {% for item in left_side['gravity_items'] %}
                            <div class="damage-item">
                                <div class="damage-number">{{ loop.index }}</div>
                                <div class="damage-info">
                                    <span class="damage-type">{{ item.title }}</span>
                                    <span class="damage-status">{{ item.gravity }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="estimated-budget">
                        <span class="estimated-budget-label">Presupuesto estimado</span>
                        <span class="estimated-budget-value">{{left_side.budget}}</span>
                    </div>
                </div>
            </div>
            <div class="vehicle-observations">
                <p class="vehicle-observations-title">Observaciones del <span>funcionario</span></p>
                <p class="vehicle-observations-text">{{left_side.description}}</p>
            </div>
        </div>

        <!-- Lado derecho -->
        <div class="vehicle-inspection-table">
            <div class="vehicle-inspection-header">
                <h3>Lado <span>Derecho</span></h3>
            </div>
            <div class="vehicle-inspection-body">
                <!-- Lado derecho: Imagen -->
                <div class="vehicle-image-section">
                    <div class="vehicle-image-container">
                        <img src="https://storage.googleapis.com/course-gcp-2024-images/2025/10/05/304d3da8-e779-470f-88fe-4f7896a8f83e.png" alt="Vehículo Lado Izquierdo" />
                    </div>
                </div>

                <!-- Lado derecho: Tabla de daños y presupuesto -->
                <div class="vehicle-details-section">
                    <div class="damage-grid">
                        {% for item in right_side['gravity_items'] %}
                            <div class="damage-item">
                                <div class="damage-number">{{ loop.index }}</div>
                                <div class="damage-info">
                                    <span class="damage-type">{{item.title}}</span>
                                    <span class="damage-status">{{item.gravity}}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="estimated-budget">
                        <span class="estimated-budget-label">Presupuesto estimado</span>
                        <span class="estimated-budget-value">{{right_side.budget}}</span>
                    </div>
                </div>
            </div>
            <div class="vehicle-observations">
                <p class="vehicle-observations-title">Observaciones del <span>funcionario</span></p>
                <p class="vehicle-observations-text">{{right_side.description}}</p>
            </div>
        </div>

        <!-- Lado Frontal -->
        <div class="vehicle-inspection-table">
            <div class="vehicle-inspection-header">
                <h3>Lado <span>Frontal</span></h3>
            </div>
            <div class="vehicle-inspection-body">
                <!-- Lado frontal: Imagen -->
                <div class="vehicle-image-section">
                    <div class="vehicle-image-container">
                        <img src="https://storage.googleapis.com/course-gcp-2024-images/2025/10/05/304d3da8-e779-470f-88fe-4f7896a8f83e.png" alt="Vehículo Lado Izquierdo" />
                    </div>
                </div>

                <!-- Lado frontal: Tabla de daños y presupuesto -->
                <div class="vehicle-details-section">
                    <div class="damage-grid">
                        {% for item in front_side['gravity_items'] %}
                        <div class="damage-item">
                            <div class="damage-number">{{ loop.index }}</div>
                            <div class="damage-info">
                                <span class="damage-type">{{ item['type'] }}</span>
                                <span class="damage-status">{{ item['status'] }}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="estimated-budget">
                        <span class="estimated-budget-label">Presupuesto estimado</span>
                        <span class="estimated-budget-value">{{front_side.budget}}</span>
                    </div>
                </div>
            </div>
            <div class="vehicle-observations">
                <p class="vehicle-observations-title">Observaciones del <span>funcionario</span></p>
                <p class="vehicle-observations-text">{{front_side.description}}</p>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="page-footer">
        <div class="footer-contact">
            <p>+57 324 4001212</p>
            <p>NIT - No. 901566049 - 8</p>
        </div>
    </div>
</div>
