<div class="page page-extra-tall">
  <!-- Header -->
  <div class="header">
    <div class="header-top">
      <h2>Inspección general de <span>Vehiculos</span></h2>
      <img src="https://wcar.co/assets/logos/horizontal.svg" alt="Logo WCAR" />
    </div>
  </div>

  <!-- Fotografías content -->
  <div class="content-container">
    <div class="main-data-section">
      <div class="main-data-icon-container">
        <div class="main-data-icon">2</div>
        <h3 class="main-data-title">Fotografías para registro del vehículo</h3>
      </div>
      <div class="main-data-content">
        <p class="main-data-text">
          Por medio del presente documento, confirmamos que estamos
          inspeccionando el vehículo
        </p>
      </div>
    </div>

    <!-- Tarjeta de propiedad -->
    <div style="margin-top: 32px">
      <p class="photography-section-text">Tarjeta de propiedad</p>
      <div class="photography-section-flex">
        <div class="photography-section-img-container">
          <img
            src="https://storage.googleapis.com/course-gcp-2024-images/2025/07/17/400a7926-5b18-4249-a23f-f84187525842.png"
            alt="Tarjeta de propiedad frente"
            style="width: 100%; height: 100%; object-fit: cover"
          />
        </div>
        <div class="photography-section-img-container">
          <img
            src="https://storage.googleapis.com/course-gcp-2024-images/2025/07/17/400a7926-5b18-4249-a23f-f84187525842.png"
            alt="Tarjeta de propiedad reverso"
            style="width: 100%; height: 100%; object-fit: cover"
          />
        </div>
      </div>
    </div>

    <!-- Fotografías del vehículo -->
    <div style="margin-top: 18px">
      <div class="photography-section-flex-container">
        <div class="photography-section-flex">
          <div style="flex: 1">
            <p class="photography-section-text">Frente diagonal derecho</p>
            <div class="photography-section-img-container">
              <img
                src="https://storage.googleapis.com/course-gcp-2024-images/2025/07/17/400a7926-5b18-4249-a23f-f84187525842.png"
                alt="Frente diagonal derecho"
                style="width: 100%; height: 100%; object-fit: cover"
              />
            </div>
          </div>
          <div style="flex: 1">
            <p class="photography-section-text">Frente diagonal izquierdo</p>
            <div class="photography-section-img-container">
              <img
                src="https://storage.googleapis.com/course-gcp-2024-images/2025/07/17/400a7926-5b18-4249-a23f-f84187525842.png"
                alt="Frente diagonal izquierdo"
                style="width: 100%; height: 100%; object-fit: cover"
              />
            </div>
          </div>
        </div>
        <div class="photography-section-flex">
          <div style="flex: 1; width: 100%">
            <p class="photography-section-text">Trasero diagonal derecho</p>
            <div class="photography-section-img-container">
              <img
                src="https://storage.googleapis.com/course-gcp-2024-images/2025/07/17/400a7926-5b18-4249-a23f-f84187525842.png"
                alt="Trasero diagonal derecho"
                style="width: 100%; height: 100%; object-fit: cover"
              />
            </div>
          </div>
          <div style="flex: 1; width: 100%">
            <p class="photography-section-text">Trasero diagonal izquierdo</p>
            <div class="photography-section-img-container">
              <img
                src="https://storage.googleapis.com/course-gcp-2024-images/2025/07/17/400a7926-5b18-4249-a23f-f84187525842.png"
                alt="Trasero diagonal izquierdo"
                style="width: 100%; height: 100%; object-fit: cover"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="page-footer">
    <div class="footer-contact">
      <p>+57 324 4001212</p>
      <p>NIT - No. 901566049 - 8</p>
    </div>
  </div>
</div>
