<div class="page page-extra-tall">
    <!-- Header simplificado -->
    <div class="header">
        <div class="header-top">
            <h2>Inspección general <span>de vehículos</span></h2>
            <img src="static/images/logo_wcar.svg" alt="Logo WCAR" />
        </div>
    </div>

    <!-- Content -->
    <div class="content-container">
        <div class="main-data-section">
            <div class="main-data-icon-container">
                <div class="main-data-icon">5</div>
                <h3 class="main-data-title">Sistema eléctrico y transmisión</h3>
            </div>
            <div class="main-data-content">
                <p class="main-data-text">
                    Por medio del presente documento, confirmamos que estamos inspeccionando el vehículo a continuación relacionado:
                </p>
            </div>
        </div>

        <!-- Tabla de Sistema eléctrico -->
        <div class="basic-table">
            <div class="basic-table-header">
                <h3>Sistema eléctrico</h3>
            </div>
            <div class="basic-table-subheader">
                <div class="basic-col">Parte del vehículo</div>
                <div class="basic-col">Estado</div>
                <div class="basic-col">Descripción</div>
                <div class="basic-col">Presupuesto</div>
            </div>
            <div class="basic-table-body">
                <div class="basic-row">
                    <div class="basic-col part">Testigos tablero</div>
                    <div class="basic-col status">{{ electrical_system['testigos_tablero']['state'] }}</div>
                    <div class="basic-col description">{{ electrical_system['testigos_tablero']['description'] }}</div>
                    <div class="basic-col budget">{{ electrical_system['testigos_tablero']['price'] }}</div>
                </div>
                <div class="basic-row row-gray">
                    <div class="basic-col part">Luces de emergencia</div>
                    <div class="basic-col status">En estado Regular</div>
                    <div class="basic-col description">Funcional</div>
                    <div class="basic-col budget">$ 0,00</div>
                </div>
                <div class="basic-row">
                    <div class="basic-col part">Limpia parabrisas</div>
                    <div class="basic-col status">En estado Regular</div>
                    <div class="basic-col description">Semi nuevo</div>
                    <div class="basic-col budget">$ 2.000,00</div>
                </div>
                <div class="basic-row row-gray">
                    <div class="basic-col part">Reloj Digital</div>
                    <div class="basic-col status">En estado Regular</div>
                    <div class="basic-col description">Funcional</div>
                    <div class="basic-col budget">$ 0,00</div>
                </div>
                <div class="basic-row">
                    <div class="basic-col part">Velocímetro</div>
                    <div class="basic-col status">En estado Regular</div>
                    <div class="basic-col description">Semi nuevo</div>
                    <div class="basic-col budget">$ 2.000,00</div>
                </div>
                <div class="basic-row row-gray">
                    <div class="basic-col part">Tacómetro</div>
                    <div class="basic-col status">En estado Regular</div>
                    <div class="basic-col description">Funcional</div>
                    <div class="basic-col budget">$ 0,00</div>
                </div>
                <div class="basic-row">
                    <div class="basic-col part">Alternador</div>
                    <div class="basic-col status">-------</div>
                    <div class="basic-col description">-------</div>
                    <div class="basic-col budget">$ 0,00</div>
                </div>
                <div class="basic-row row-gray">
                    <div class="basic-col part">Batería</div>
                    <div class="basic-col status">En estado Regular</div>
                    <div class="basic-col description">la luz el lado is</div>
                    <div class="basic-col budget">$ 0,00</div>
                </div>
                <div class="basic-row">
                    <div class="basic-col part">Luces generales</div>
                    <div class="basic-col status">-------</div>
                    <div class="basic-col description">-------</div>
                    <div class="basic-col budget">$ 0,00</div>
                </div>
            </div>
            <div class="basic-table-footer">
                <div class="basic-footer-observations">
                    <span class="basic-footer-label">Observaciones</span>
                    <span class="basic-footer-text">presenta diversos problemas en varias partes</span>
                </div>
                <div class="basic-footer-total">
                    <span class="basic-footer-label">Total</span>
                    <span class="basic-footer-value">$ 6.000,00</span>
                </div>
            </div>
        </div>

        <!-- Tabla de Transmisión -->
        <div class="basic-table">
            <div class="basic-table-header">
                <h3>Transmisión</h3>
            </div>
            <div class="basic-table-subheader">
                <div class="basic-col">Parte del vehículo</div>
                <div class="basic-col">Estado</div>
                <div class="basic-col">Descripción</div>
                <div class="basic-col">Presupuesto</div>
            </div>
            <div class="basic-table-body">
                <div class="basic-row">
                    <div class="basic-col part">Golpeo en caja</div>
                    <div class="basic-col status">Mal estado</div>
                    <div class="basic-col description">Semi nuevo</div>
                    <div class="basic-col budget">$ 2.000,00</div>
                </div>
                <div class="basic-row row-gray">
                    <div class="basic-col part">Ruidos anormales</div>
                    <div class="basic-col status">Muy mal estado</div>
                    <div class="basic-col description">Funcional</div>
                    <div class="basic-col budget">$ 0,00</div>
                </div>
                <div class="basic-row">
                    <div class="basic-col part">Dificultad de cambios</div>
                    <div class="basic-col status">En estado Regular</div>
                    <div class="basic-col description">Semi nuevo</div>
                    <div class="basic-col budget">$ 2.000,00</div>
                </div>
                <div class="basic-row row-gray">
                    <div class="basic-col part">Cambios bruscos</div>
                    <div class="basic-col status">En estado Regular</div>
                    <div class="basic-col description">Funcional</div>
                    <div class="basic-col budget">$ 0,00</div>
                </div>
                <div class="basic-row">
                    <div class="basic-col part">Fugas de aceite</div>
                    <div class="basic-col status">En estado Regular</div>
                    <div class="basic-col description">Semi nuevo</div>
                    <div class="basic-col budget">$ 2.000,00</div>
                </div>
                <div class="basic-row row-gray">
                    <div class="basic-col part">Tracción en ruedas</div>
                    <div class="basic-col status">En estado Regular</div>
                    <div class="basic-col description">Funcional</div>
                    <div class="basic-col budget">$ 0,00</div>
                </div>
                <div class="basic-row">
                    <div class="basic-col part">Embrague</div>
                    <div class="basic-col status">-------</div>
                    <div class="basic-col description">-------</div>
                    <div class="basic-col budget">$ 0,00</div>
                </div>
                <div class="basic-row row-gray">
                    <div class="basic-col part">Nivel de aceite</div>
                    <div class="basic-col status">En estado Regular</div>
                    <div class="basic-col description">la luz el lado is</div>
                    <div class="basic-col budget">$ 0,00</div>
                </div>
                <div class="basic-row">
                    <div class="basic-col part">Otros defectos</div>
                    <div class="basic-col status">N/A</div>
                    <div class="basic-col description">N/A</div>
                    <div class="basic-col budget">N/A</div>
                </div>
            </div>
            <div class="basic-table-footer">
                <div class="basic-footer-observations">
                    <span class="basic-footer-label">Observaciones</span>
                    <span class="basic-footer-text">presenta diversos problemas en varias partes</span>
                </div>
                <div class="basic-footer-total">
                    <span class="basic-footer-label">Total</span>
                    <span class="basic-footer-value">$ 6.000,00</span>
                </div>
            </div>
        </div>
    </div>
</div>
