<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Peritaje PDF</title>

  <!-- CSS Global -->
  <link rel="stylesheet" href="{% if is_pdf %}static/css/global.css{% else %}{{ url_for('static', filename='css/global.css') }}{% endif %}">

  <!-- CSS por página -->
  <link rel="stylesheet" href="{% if is_pdf %}static/css/pages/resume.css{% else %}{{ url_for('static', filename='css/pages/resume.css') }}{% endif %}">

</head>
<body>
    <!-- Resumen del peritaje -->
     <div class="page page-extra-tall">
        <!-- Header -->
        <div class="header">
            <div class="header-top">
                <h2>Resumen general del <span>peritaje</span></h2>
                <img src="static/images/logo_wcar.svg" alt="Logo WCAR" />
            </div>
            <div class="header-bottom">
            <div class="header-bottom-left">
                <div class="header-bottom-date-container">
                    <p>Fecha de recepción: <span>2025 / 06 / 25</span> - Hora exacta: <span>16:01:00</span></p>
                </div>
                <div class="header-bottom-badge-container">
                    <div class="header-bottom-badge">
                        <p>Placa del vehículo: <span>{{resumen['vehicle']['plate']}}</span></p>
                    </div>
                </div>
            </div>
            <div class="header-bottom-right">
                <p style="font-weight: 700;">Acta No. <span>{{numero_reporte}}</span></p>
                <p>contacto@wcar.co</p>
                <p>www.wcar.co</p>
            </div>
            </div>
        </div>
        <!-- Resume content -->
        <div class="content-container">
            <div class="tables-container">
                <!-- Tabla 1: Información del cliente -->
                <div class="info-table">
                    <div class="info-table-header">
                        <h3>Información del <span>cliente</span></h3>
                    </div>
                    <div class="info-table-body">
                        <div class="info-row">
                            <div class="info-label">Nombre:</div>
                            <div class="info-value">{{client['name']}}</div>
                        </div>
                        <div class="info-row">
                            <div class="info-label">Documento:</div>
                            <div class="info-value">{{client['document']}}</div>
                        </div>
                        <div class="info-row">
                            <div class="info-label">Email:</div>
                            <div class="info-value">{{client['email']}}</div>
                        </div>
                        <div class="info-row">
                            <div class="info-label">Dirección de entrega:</div>
                            <div class="info-value">{{client['address']}}</div>
                        </div>
                        <div class="info-row">
                            <div class="info-label">Teléfono</div>
                            <div class="info-value">{{client['phone']}}</div>
                        </div>
                    </div>
                </div>

                <!-- Tabla 2: Información del vehículo -->
                <div class="info-table">
                    <div class="info-table-header">
                        <h3>Información del <span>vehículo</span></h3>
                    </div>
                    <div class="info-table-body">
                        <div class="info-row-split">
                            <div class="info-col">
                                <div class="info-label">Placa:</div>
                                <div class="info-value">{{resumen['vehicle']['plate']}}</div>
                            </div>
                            <div class="info-col">
                                <div class="info-label">Año modelo:</div>
                                <div class="info-value">{{resumen['vehicle']['year']}}</div>
                            </div>
                        </div>
                        <div class="info-row-split">
                            <div class="info-col">
                                <div class="info-label">Marca:</div>
                                <div class="info-value">{{resumen['vehicle']['brand']}}</div>
                            </div>
                            <div class="info-col">
                                <div class="info-label">Referencia:</div>
                                <div class="info-value">{{resumen['vehicle']['reference']}}</div>
                            </div>
                        </div>
                        <div class="info-row-split">
                            <div class="info-col">
                                <div class="info-label">Color:</div>
                                <div class="info-value">{{resumen['vehicle']['color']}}</div>
                            </div>
                            <div class="info-col">
                                <div class="info-label">Kilometraje:</div>
                                <div class="info-value">{{resumen['vehicle']['kilometers']}}</div>
                            </div>
                        </div>
                        <div class="info-row-split">
                            <div class="info-col">
                                <div class="info-label">V. SOAT:</div>
                                <div class="info-value">{{accident['soat_date']}}</div>
                            </div>
                            <div class="info-col">
                                <div class="info-label">V. RTM:</div>
                                <div class="info-value">{{accident['inspection_date']}}</div>
                            </div>
                        </div>
                        <div class="info-row">
                            <div class="info-label">Tipo de carrocería:</div>
                            <div class="info-value">{{resumen['vehicle']['bodywork']}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tabla de presupuesto -->
            <div class="budget-table">
                <div class="budget-table-header">
                    <h3>Presupuesto general <span>de peritaje</span></h3>
                </div>
                <div class="budget-table-subheader">
                    <div class="budget-col">Parte del vehículo</div>
                    <div class="budget-col">Porcentaje de presupuesto</div>
                    <div class="budget-col">Presupuesto</div>
                </div>
                <div class="budget-table-body">
                    <div class="budget-row">
                        <div class="budget-row-part">1. Exterior del vehículo</div>
                        <div class="budget-row-percent">
                            <div class="budget-bar-container">
                                <div class="budget-bar-fill" style="width: {{ resumen['budgets']['vehicle_exterior']['budget_percentage']}}%"></div>
                            </div>
                            <div class="budget-percent-text">{{ resumen['budgets']['vehicle_exterior']['budget_percentage']}} %</div>
                        </div>
                        <div class="budget-row-amount">{{ resumen['budgets']['vehicle_exterior']['budget_suggested'] }}</div>
                    </div>
                    <div class="budget-row">
                        <div class="budget-row-part">2. Inferior del vehículo</div>
                        <div class="budget-row-percent">
                            <div class="budget-bar-container">
                                <div class="budget-bar-fill" style="width: {{ resumen['budgets']['vehicle_underbody']['budget_percentage'] }}%"></div>
                            </div>
                            <div class="budget-percent-text">{{ resumen['budgets']['vehicle_underbody']['budget_percentage'] }} %</div>
                        </div>
                        <div class="budget-row-amount">{{ resumen['budgets']['vehicle_underbody']['budget_suggested'] }}</div>
                    </div>
                    <div class="budget-row">
                        <div class="budget-row-part">3. Interior del vehículo</div>
                        <div class="budget-row-percent">
                            <div class="budget-bar-container">
                                <div class="budget-bar-fill" style="width: {{ resumen['budgets']['vehicle_interior']['budget_percentage'] }}%"></div>
                            </div>
                            <div class="budget-percent-text">{{ resumen['budgets']['vehicle_interior']['budget_percentage'] }} %</div>
                        </div>
                        <div class="budget-row-amount">{{ resumen['budgets']['vehicle_interior']['budget_suggested'] }}</div>
                    </div>
                    <div class="budget-row">
                        <div class="budget-row-part">4. Ventilación</div>
                        <div class="budget-row-percent">
                            <div class="budget-bar-container">
                                <div class="budget-bar-fill" style="width: {{ resumen['budgets']['ventilation']['budget_percentage'] }}%"></div>
                            </div>
                            <div class="budget-percent-text">{{ resumen['budgets']['ventilation']['budget_percentage'] }} %</div>
                        </div>
                        <div class="budget-row-amount">{{ resumen['budgets']['ventilation']['budget_suggested'] }}</div>
                    </div>
                    <div class="budget-row">
                        <div class="budget-row-part">5. Motor</div>
                        <div class="budget-row-percent">
                            <div class="budget-bar-container">
                                <div class="budget-bar-fill" style="width: {{ resumen['budgets']['engine']['budget_percentage'] }}%"></div>
                            </div>
                            <div class="budget-percent-text">{{ resumen['budgets']['engine']['budget_percentage'] }} %</div>
                        </div>
                        <div class="budget-row-amount">{{ resumen['budgets']['engine']['budget_suggested'] }}</div>
                    </div>
                    <div class="budget-row">
                        <div class="budget-row-part">6. Transmisión</div>
                        <div class="budget-row-percent">
                            <div class="budget-bar-container">
                                <div class="budget-bar-fill" style="width: {{ resumen['budgets']['transmision']['budget_percentage'] }}%"></div>
                            </div>
                            <div class="budget-percent-text">{{ resumen['budgets']['transmision']['budget_percentage'] }} %</div>
                        </div>
                        <div class="budget-row-amount">{{ resumen['budgets']['transmision']['budget_suggested'] }}</div>
                    </div>
                    <div class="budget-row">
                        <div class="budget-row-part">7. Frenos</div>
                        <div class="budget-row-percent">
                            <div class="budget-bar-container">
                                <div class="budget-bar-fill" style="width: {{ resumen['budgets']['brakes']['budget_percentage'] }}%"></div>
                            </div>
                            <div class="budget-percent-text">{{ resumen['budgets']['brakes']['budget_percentage'] }} %</div>
                        </div>
                        <div class="budget-row-amount">{{ resumen['budgets']['brakes']['budget_suggested'] }}</div>
                    </div>
                    <div class="budget-row">
                        <div class="budget-row-part">8. Dirección</div>
                        <div class="budget-row-percent">
                            <div class="budget-bar-container">
                                <div class="budget-bar-fill" style="width: {{ resumen['budgets']['direction']['budget_percentage'] }}%"></div>
                            </div>
                            <div class="budget-percent-text">{{ resumen['budgets']['direction']['budget_percentage'] }} %</div>
                        </div>
                        <div class="budget-row-amount">{{ resumen['budgets']['direction']['budget_suggested'] }}</div>
                    </div>
                    <div class="budget-row">
                        <div class="budget-row-part">9. Suspensión</div>
                        <div class="budget-row-percent">
                            <div class="budget-bar-container">
                                <div class="budget-bar-fill" style="width: {{ resumen['budgets']['suspension']['budget_percentage'] }}%"></div>
                            </div>
                            <div class="budget-percent-text">{{ resumen['budgets']['suspension']['budget_percentage'] }} %</div>
                        </div>
                        <div class="budget-row-amount">{{ resumen['budgets']['suspension']['budget_suggested'] }}</div>
                    </div>
                    <div class="budget-row">
                        <div class="budget-row-part">10. Llantas</div>
                        <div class="budget-row-percent">
                            <div class="budget-bar-container">
                                <div class="budget-bar-fill" style="width: {{ resumen['budgets']['tires']['budget_percentage'] }}%"></div>
                            </div>
                            <div class="budget-percent-text">{{ resumen['budgets']['tires']['budget_percentage'] }} %</div>
                        </div>
                        <div class="budget-row-amount">{{ resumen['budgets']['tires']['budget_suggested'] }}</div>
                    </div>
                </div>
                <div class="budget-total">
                    <div class="budget-total-label">Total</div>
                    <div class="budget-total-amount">$ 7.760,00</div>
                </div>
            </div>

            <!-- Observaciones del funcionario -->
            <div class="observations-section">
                <h2 class="observations-title">Observaciones del <span>funcionario</span></h2>
                <div class="observations-box">
                    <div class="observations-text">
                        {{ resumen['observations']['price_observations'] }}
                    </div>
                    <div class="observations-price">
                        <div class="observations-price-label">Precio de compra <span>del vehículo</span></div>
                        <div class="observations-price-value">{{ resumen['observations']['price_suggested'] }}</div>
                    </div>
                </div>
            </div>
        </div>
     </div>

     <!-- Página 2: Inspección General -->
     {% include 'pages/InspeccionGeneralPage.html' %}

     <!-- Página 3: Exterior del Vehículo -->
     {% include 'pages/ExteriorVehiculoPage.html' %}

     <!-- Página 4: Exterior del Vehículo 2 -->
     {% include 'pages/ExteriorVehiculoPage2.html' %}

     <!-- Página 5: Inferior del Vehículo -->
     {% include 'pages/InferiorVehiculoPage.html' %}

     <!-- Página 6: Interior del Vehículo -->
     {% include 'pages/InteriorVehiculoPage.html' %}

     <!-- Página 7: Sistema Eléctrico y Transmisión -->
     {% include 'pages/SistemaElectricoTransmisionPage.html' %}

     <!-- Página 8: Ventilación y Motor -->
     {% include 'pages/VentilacionMotorPage.html' %}

     <!-- Página 9: Frenos y Dirección -->
     {% include 'pages/FrenosDireccionPage.html' %}

     <!-- Página 10: Suspensión, Llantas y Rines -->
     {% include 'pages/SuspensionLlantasRinesPage.html' %}

     <!-- Página 11: Datos Finales y Firmas -->
     {% include 'pages/DatosFinalesFirmasPage.html' %}
</body>
</html>
