* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

body {
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  color: #1d1d1d;
  margin: 0;
  padding: 0;
  width: 1200px;
  min-height: 100vh;
  margin: auto;
  padding: 80px;
  padding-top: 24px;
}

.page {
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
  page-break-before: always;
  /* Para navegadores modernos, puedes agregar: */
  break-before: page;
}

.page:not(:first-child) {
  page-break-before: always;
}

.container {
  max-width: 100%;
  page-break-after: avoid;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo img {
  height: 60px;
}

.title {
  font-size: 28px;
  font-weight: 700;
}

.title-number {
  font-size: 24px;
}

.title-number-prefix {
  color: #000;
  font-weight: 700;
}

.title-number-value {
  color: #ff5f00;
  font-weight: 600;
  font-style: italic;
}

.section-title {
  font-family: "Urbanist-Bold";
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.section-number {
  color: black;
  border: 0.5px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  min-width: 28px;
  min-height: 28px;
  max-width: 28px;
  max-height: 28px;
  margin-right: 8px;
}

.section-title-text {
  font-size: 26px;
  font-weight: 600;
}

.subtitle {
  font-size: 16px;
  color: #ec671b;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 10px;
}

.row {
  display: flex;
  margin-bottom: 10px;
}

.col {
  flex: 1;
  padding: 5px;
}

.value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 7px;
  background-color: #f6f7f9;
  color: #aaa;
  min-height: 25px;
}

.value .label {
  font-weight: bold;
  color: #1d1d1d;
}

.value .text {
  color: #aaa;
}

.double-col {
  flex: 2;
}

.section {
  margin-top: 10px;
}

td {
  padding: 3px;
  vertical-align: top;
}

.titulo {
  font-weight: bold;
}

.estado {
  color: #f45c00;
  font-size: 14px;
  margin-top: 4px;
  font-weight: bold;
}

.descripcion {
  font-size: 14px;
  margin-top: 8px;
  color: #333;
}

.precio {
  color: #f45c00;
  font-weight: bold;
  white-space: nowrap;
  text-align: right;
}

.col-nombre {
  width: 25%;
}

.col-descripcion {
  width: 55%;
  font-size: 14px;
  color: #333;
}

.col-precio {
  width: 20%;
}

.table-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.side-label {
  writing-mode: horizontal-tb;
  transform: rotate(180deg);
  background-color: #ec671b;
  color: white;
  width: 40px;
  padding: 20px 10px;
  font-weight: bold;
  text-align: center;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
}

.side-label span {
  transform: rotate(90deg);
  writing-mode: vertical-lr;
  font-weight: bold;
  font-size: 16px;
}

table {
  width: 90%;
  height: 250px;
  border-collapse: collapse;
  font-size: 14px;
}

thead {
  border-top-right-radius: 8px;
}

th,
td {
  text-align: left;
  vertical-align: top;
}

thead th {
  border-left: none;
  border-right: none;
  border-top: 1px #666c89;
  border-bottom: 1px #666c89;
  background-color: #fff;
}

thead {
  border: 1px #666c89;
}

tbody td {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
}

tbody {
  border: 1px solid #666c89;
}

.total-label {
  background-color: #ec671b;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
}

.total-value {
  font-size: 24px;
  font-weight: bold;
  color: #ec671b;
  padding-right: 20px;
}

.notes {
  margin: 10px auto 0;
  width: 1000px;
  font-size: 12px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
  gap: 20px;
}

.info {
  flex: 1;
}

.section-box {
  width: 100%;
  height: auto;
  min-height: 380px;
  border: 1px solid #666c89;
  border-radius: 24px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: flex;
  padding: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  flex-direction: column;
  position: relative;
}

.section-header {
  display: grid;
  grid-template-columns: 170px 80px 140px 420px 120px;
  width: 100%;
  height: 36px;
  border-bottom: 1px solid #000;
}

.header-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -8px;
  padding-left: 4px;
}

.header-item-estado-existencia {
  align-items: center;
  justify-content: center;
}

.header-item-estado-condicion {
  align-items: flex-start;
  padding-left: 4px;
}

.header-item-presupuesto {
  align-items: flex-end;
  padding-right: 4px;
  justify-content: center;
}

.section-box-item-header-title p {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  text-align: left;
}

.section-body {
  display: flex;
  width: 100%;
  margin-top: 4px;
  flex-direction: column;
}

.section-body-row {
  display: grid;
  grid-template-columns: 170px 80px 140px 420px 120px;
  width: 100%;
  border-bottom: 0.5px solid #000;
}

.section-body-row:last-child {
  border-bottom: none;
}

.body-item {
  display: flex;
  align-items: center;
  min-height: 24px;
  height: auto;
  padding-left: 4px;
  overflow: visible;
  word-wrap: break-word;
}

.body-item-estado-existencia {
  justify-content: center;
}

.body-item-estado-condicion {
  justify-content: flex-start;
}

.body-item-presupuesto {
  justify-content: center;
  padding-right: 4px;
}

.body-item p {
  font-size: 14px;
  line-height: normal;
  margin: 4px 0;
  overflow-wrap: break-word;
  word-break: break-word;
  text-align: left;
}

.section-footer {
  display: flex;
  width: 100%;
  min-height: 78px;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 8px;
}

.footer-observations {
  font-size: 14px;
  line-height: 16px;
  flex: 2;
  color: #000;
  padding-top: 8px;
  max-width: 500px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.footer-total-price {
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: "auto";
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
  border-top-left-radius: 24px;
  border-bottom-right-radius: 24px;
  background-color: #ec671b;
  color: white;
  margin-right: -24px;
  margin-bottom: -4px;
  align-self: flex-end;
}

.footer-total-price span {
  font-size: 12px;
  line-height: 0px;
  margin-right: 12px;
}

.text-center {
  text-align: center;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.item-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 24px;
  width: 100%;
}

.text-orange {
  color: #ec671b;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.font-10 {
  font-size: 10px;
}

.side-label-v2 {
  position: absolute;
  top: 0;
  left: -40px;
  background-color: #ec671b;
  color: white;
  width: 50px;
  height: calc(100% + 2px);
  border-top-left-radius: 24px;
  margin: -2px;
  border-bottom-left-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ec671b;
}

.side-label-v2 span {
  transform: rotate(270deg);
  writing-mode: vertical-lr;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.no-border {
  border-bottom: none !important;
}

.accesorios-tabla-container {
  width: 100%;
  border: 1px solid #000;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  margin-bottom: 30px;
  position: relative;
}

.accesorios-sidebar {
  background-color: #e84d1c;
  color: white;
  font-weight: bold;
  font-size: 24px;
  width: 70px;
  min-width: 70px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accesorios-sidebar-text {
  transform: rotate(-90deg);
  white-space: nowrap;
  letter-spacing: 2px;
}

.accesorios-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.accesorios-table {
  width: 100%;
  border-collapse: collapse;
}

.accesorios-table th,
.accesorios-table td {
  border: 1px solid #000;
  padding: 8px 10px;
}

.accesorios-table th {
  font-weight: bold;
  text-align: center;
  background-color: #fff;
}

.accesorios-table td {
  vertical-align: middle;
}

.accesorios-col-parte {
  width: 25%;
}

.accesorios-col-estado {
  width: 20%;
  text-align: center;
}

.accesorios-col-descripcion {
  width: 40%;
}

.accesorios-col-presupuesto {
  width: 15%;
  text-align: right;
}

.accesorios-estado-bueno,
.accesorios-estado-regular,
.accesorios-estado-malo {
  color: #e84d1c;
  font-style: italic;
  text-align: center;
}

.accesorios-guiones {
  color: #777;
  text-align: center;
}

.accesorios-footer {
  display: flex;
  width: 100%;
  border-top: 1px solid #000;
}

.accesorios-observaciones {
  padding: 10px 15px;
  font-size: 14px;
  width: 65%;
  border-right: 1px solid #000;
}

.accesorios-total {
  background-color: #e84d1c;
  color: white;
  padding: 15px;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.accesorios-total-label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}

.accesorios-total-valor {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}

.tabla-seccion-container {
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  margin-bottom: 30px;
  position: relative;
}

.tabla-seccion-sidebar {
  background-color: #e84d1c;
  color: white;
  font-weight: 900;
  font-size: 14px;
  width: 40px;
  min-width: 40px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.tabla-seccion-sidebar-text {
  transform: rotate(-90deg);
  white-space: nowrap;
  letter-spacing: 1px;
  font-size: 24px;
  font-weight: 900;
}

.tabla-seccion-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.tabla-seccion-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.tabla-seccion-table th,
.tabla-seccion-table td {
  border: 0.5px solid #909090;
  border-left: none;
  padding: 8px 10px;
  vertical-align: middle;
  font-size: 14px;
}

.tabla-seccion-table td:nth-child(1) {
  color: #000;
  font-weight: 700;
}

.tabla-seccion-table th {
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  color: #000;
}

.tabla-seccion-col-parte {
  width: 25%;
}

.tabla-seccion-col-estado {
  width: 20%;
  text-align: center;
}

.tabla-seccion-col-descripcion {
  width: 40%;
}

.tabla-seccion-col-presupuesto {
  width: 15%;
  text-align: right;
  word-break: break-word;
  overflow-wrap: break-word;
  font-weight: 900;
  font-size: 18px;
  color: #e84d1c;
}

th.tabla-seccion-col-presupuesto {
  width: 120px;
  min-width: 120px;
  font-weight: bold;
}

.estado-bueno,
.estado-regular,
.estado-malo,
.estado-na {
  color: #e84d1c;
  font-style: italic;
  text-align: center;
  font-weight: bold;
}

.tabla-seccion-footer {
  display: flex;
  width: 100%;
  border-bottom: 0.5px solid #909090;
}

.tabla-seccion-observaciones {
  padding: 10px 15px;
  font-size: 14px;
  width: 65%;
}

.tabla-seccion-total {
  background-color: #e84d1c;
  color: white;
  padding: 10px 15px;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: auto;
}

.tabla-seccion-total-label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 1;
  text-align: center;
}

.tabla-seccion-total-valor {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.tabla-seccion-guiones {
  color: #777;
  text-align: center;
}

.signature-section {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.signature-box {
  width: 45%;
  text-align: center;
}

.signature-line {
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.signature-title {
  color: #f26e21;
  font-size: 18px;
  font-weight: bold;
}

.underbody-section {
  margin-top: 80px;
}

.exterior-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 80px;
}

.side-container {
  width: 480px;
  height: 300px;
  border: 1px solid #909090;
  border-bottom-right-radius: 42px;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.side-container-top-label {
  width: "auto";
  height: 40px;
  background-color: #ec671b;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  position: absolute;
  top: -40px;
  left: -0.5px;
  padding: 0 54px;
}

.side-container-top-label p {
  color: white;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.side-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.side-imperfection-list {
  min-width: 130px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  padding-left: 8px;
}

.side-imperfection {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #909090;
  padding-bottom: 4px;
  margin: 4px 0px;
}

.side-imperfection-item-number {
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
  background-color: #ec671b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.side-imperfection-item-number p {
  color: white;
  font-size: 11px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.side-imperfection-item-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.side-imperfection-item-name {
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.side-imperfection-item-level {
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #ec671b;
}

.side-image-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.side-image-box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.side-observations {
  font-size: 12px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.side-total-price-box {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #ec671b;
  border-top-left-radius: 32px;
  border-bottom-right-radius: 40px;
}

.side-total-price-box-label {
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: white;
  margin-right: 12px;
}

.side-total-price-box-price {
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: white;
}

.center-section {
  display: flex;
  width: 100%;
  justify-content: center;
}

.underbody-table {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}

.underbody-table-row {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding-bottom: 8px;
}

.underbody-table-row-item {
  flex: 1;
  border-bottom: 1px solid #909090;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.underbody-table-row-item:nth-child(2) {
  flex: 2;
}

.underbody-table-row-item:nth-child(1) span {
  font-size: 18px;
  font-weight: 700;
}

.underbody-table-row-item:nth-child(1) p {
  color: #ec671b;
  font-size: 16px;
  font-weight: 600;
  margin-top: 6px;
}

.underbody-table-observations {
  font-size: 16px;
  font-weight: 500;
  padding: 4px 8px;
}

.underbody-table-price {
  font-size: 20px;
  text-align: center;
  font-weight: 900;
  color: #ec671b;
}

.presupuesto-total-observaciones {
  border: 1px solid #909090;
  padding-left: 16px;
  border-radius: 4px;
  border-bottom-right-radius: 32px;
  padding-top: 8px;
}

.presupuesto-sugerido-observaciones {
  margin-top: 24px;
  border: 1px solid #909090;
  padding-left: 16px;
  border-radius: 4px;
  border-bottom-right-radius: 32px;
  padding-top: 8px;
}

.presupuesto-total-observaciones p {
  font-size: 16px;
  font-weight: 500;
}

.presupuesto-sugerido-observaciones p {
  font-size: 16px;
  font-weight: 500;
}

.right-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.presupuesto-total-badge {
  padding: 12px 42px;
  background-color: #ec671b;
  border-top-left-radius: 32px;
  border-bottom-right-radius: 32px;
  display: flex;
  align-items: center;
}

.presupuesto-total-badge p {
  color: white;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.presupuesto-total-badge p span {
  font-size: 24px;
  font-weight: 900;
  margin-left: 8px;
}

.presupuesto-sugerido-badge {
  padding: 12px 42px;
  background-color: #fff;
  border: 1px solid #ec671b;
  border-top-left-radius: 32px;
  border-bottom-right-radius: 32px;
  display: flex;
  align-items: center;
}

.presupuesto-sugerido-badge p {
  color: #ec671b;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.presupuesto-sugerido-badge p span {
  font-size: 24px;
  font-weight: 900;
  margin-left: 8px;
}

.separator {
  width: 100%;
  border-bottom: 4px solid #ec671b;
}

.separator-box {
  background-color: #ec671b;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  display: inline-flex;
  align-items: center;
  height: 40px;
  padding: 0 16px;
}

.separator-number {
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator-number p {
  font-size: 24px;
  font-weight: 700;
  color: #ec671b;
}

.separator-text {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-left: 8px;
}

.general-data-container {
  width: 100%;
  padding-top: 16px;
  margin: auto;
}

.general-data-row {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 16px 0;
  margin-bottom: 16px;
}

.general-data-field {
  display: table-cell;
  background-color: #e8eef5;
  border-radius: 8px;
  padding: 8px 16px;
  vertical-align: top;
}

.gd-field-left {
  width: 100%;
  margin-bottom: 4px;
}

.gd-field-left p {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  margin: 0;
}

.gd-field-right {
  width: 100%;
  text-align: right;
}

.out-standard-container {
  width: 100%;
  border: 2px solid #e31826;
  background-color: #e8edf5;
  border-radius: 8px;
  padding: 8px 16px;
  margin-top: 16px;
}

.out-standard-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.out-standard-title {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.out-standard-type {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  color: #000;
}

.out-standard-description {
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
  color: #000;
  margin-top: 8px;
}

.budget-chart-container {
  display: flex;
  width: 100%;
  margin-top: 16px;
  padding: 0 0 24px 0;
  position: relative;
  background: #fff;
}

.budget-chart-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.budget-chart-row {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  position: relative;
}

.budget-chart-number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background: #ec671b;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  border-radius: 50%;
  margin-right: 12px;
}

.budget-chart-label {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  min-width: 180px;
  border-bottom: 1px solid #90a3bf;
  padding-bottom: 4px;
  text-align: center;
}

.budget-chart-row:last-child .budget-chart-label {
  border: none;
}

.budget-chart-bars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin-top: 16px;
  margin-bottom: 32px;
  margin-right: 32px;
  border: 2px solid #ec671b;
  border-radius: 0 0 56px 0;
  padding-top: 16px;
  padding-bottom: 8px;
}

.budget-bar {
  height: 36px;
  background: #ffa631;
  border-radius: 0 0 32px 0;
  margin-bottom: 18px;
}

.budget-chart-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 16px;
  min-width: 180px;
}

.budget-chart-header {
  font-size: 20px;
  font-weight: 700;
  color: #222;
  margin-bottom: 22px;
  width: 100%;
  text-align: right;
  padding-bottom: 4px;
  border-bottom: 1px solid #90a3bf;
  text-align: center;
}

.budget-chart-value {
  font-size: 24px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 22px;
  width: 100%;
  text-align: right;
  text-align: center;
  border-bottom: 1px solid #90a3bf;
  padding-bottom: 4px;
}

.budget-chart-total {
  margin-top: 16px;
  font-size: 32px;
  font-weight: 700;
  color: #ec671b;
  width: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.budget-chart-total-label {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #ec671b;
}

.wcar-logo-bg {
  width: 100%;
  height: 160px;
  margin: auto;
  margin-top: 80px;
}

.presupuesto-total-observaciones {
  border: 1px solid #909090;
  padding-left: 16px;
  border-radius: 4px;
  border-bottom-right-radius: 32px;
  padding-top: 8px;
}

.presupuesto-sugerido-observaciones {
  margin-top: 24px;
  border: 1px solid #909090;
  padding-left: 16px;
  border-radius: 4px;
  border-bottom-right-radius: 32px;
  padding-top: 8px;
}

.presupuesto-total-observaciones p {
  font-size: 16px;
  font-weight: 500;
}

.presupuesto-sugerido-observaciones p {
  font-size: 16px;
  font-weight: 500;
}

.right-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.presupuesto-total-badge {
  padding: 12px 42px;
  background-color: #ec671b;
  border-top-left-radius: 32px;
  border-bottom-right-radius: 32px;
  display: flex;
  align-items: center;
}

.presupuesto-total-badge p {
  color: white;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.presupuesto-total-badge p span {
  font-size: 24px;
  font-weight: 900;
  margin-left: 8px;
}

.presupuesto-sugerido-badge {
  padding: 12px 42px;
  background-color: #fff;
  border: 1px solid #ec671b;
  border-top-left-radius: 32px;
  border-bottom-right-radius: 32px;
  display: flex;
  align-items: center;
}

.presupuesto-sugerido-badge p {
  color: #ec671b;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.presupuesto-sugerido-badge p span {
  font-size: 24px;
  font-weight: 900;
  margin-left: 8px;
}

.separator {
  width: 100%;
  border-bottom: 4px solid #ec671b;
}

.separator-box {
  background-color: #ec671b;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  display: inline-flex;
  align-items: center;
  height: 40px;
  padding: 0 16px;
}

.separator-number {
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator-number p {
  font-size: 24px;
  font-weight: 700;
  color: #ec671b;
}

.separator-text {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-left: 8px;
}

.general-data-container {
  width: 100%;
  padding-top: 16px;
  margin: auto;
}

.general-data-row {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 16px 0;
  margin-bottom: 16px;
}

.general-data-field {
  display: table-cell;
  background-color: #e8eef5;
  border-radius: 8px;
  padding: 8px 16px;
  vertical-align: top;
}

.gd-field-left {
  width: 100%;
  margin-bottom: 4px;
}

.gd-field-left p {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  margin: 0;
}

.gd-field-right {
  width: 100%;
  text-align: right;
}

.out-standard-container {
  width: 100%;
  border: 2px solid #e31826;
  background-color: #e8edf5;
  border-radius: 8px;
  padding: 8px 16px;
  margin-top: 16px;
}

.out-standard-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.out-standard-title {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.out-standard-type {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  color: #000;
}

.out-standard-description {
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
  color: #000;
  margin-top: 8px;
}

.budget-chart-container {
  display: flex;
  width: 100%;
  margin-top: 16px;
  padding: 0 0 24px 0;
  position: relative;
  background: #fff;
}

.budget-chart-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.budget-chart-row {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  position: relative;
}

.budget-chart-number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background: #ec671b;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  border-radius: 50%;
  margin-right: 12px;
}

.budget-chart-label {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  min-width: 180px;
  border-bottom: 1px solid #90a3bf;
  padding-bottom: 4px;
  text-align: center;
}

.budget-chart-row:last-child .budget-chart-label {
  border: none;
}

.budget-chart-bars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin-top: 16px;
  margin-bottom: 32px;
  margin-right: 32px;
  border: 2px solid #ec671b;
  border-radius: 0 0 56px 0;
  padding-top: 16px;
  padding-bottom: 8px;
}

.budget-bar {
  height: 36px;
  background: #ffa631;
  border-radius: 0 0 32px 0;
  margin-bottom: 18px;
}

.budget-chart-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 16px;
  min-width: 180px;
}

.budget-chart-header {
  font-size: 20px;
  font-weight: 700;
  color: #222;
  margin-bottom: 22px;
  width: 100%;
  text-align: right;
  padding-bottom: 4px;
  border-bottom: 1px solid #90a3bf;
  text-align: center;
}

.budget-chart-value {
  font-size: 24px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 22px;
  width: 100%;
  text-align: right;
  text-align: center;
  border-bottom: 1px solid #90a3bf;
  padding-bottom: 4px;
}

.budget-chart-total {
  margin-top: 16px;
  font-size: 32px;
  font-weight: 700;
  color: #ec671b;
  width: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.budget-chart-total-label {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #ec671b;
}

.wcar-logo-bg {
  width: 100%;
  height: 160px;
  margin: auto;
  margin-top: 80px;
}